<h2>Welcome to doctor clinic</h2>
<% if doctor_signed_in? %>
  <%= render partial: 'doctor' %>
<% elsif patient_signed_in? %>
  <%= render partial: 'patient' %>
<% else %>
  <%= render partial: 'form' %>
<% end %>